*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: auto;
}

#root {
  width: 100%;
}

.App {
  min-width: 100%;
  min-height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  max-height: 10vh;
  justify-content: space-between;
  color: white;
  /* padding: 10px 20px; */
}